*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 15%,
        #d7dbd4 15%,
        #d7dbd4 100%
    );
}

.container {
    display: flex;
    width: 80%;
    min-width: 900px;
    background:#ab6363; /*!debug*/
    height: 90vh;
}

.container .left-bar {
    flex-basis: 35%;
    background-color: #ffffff; 
}

.container .content {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    background-color: pink; /*!debug*/
}

.container .header-content,
.container .footer-content {
    padding: 20px;
    background-color: blue; /*!debug*/
}

.container .main-content {
    flex-grow: 1;
    padding: 20px;
    background-image: url("./img/mine.jpg");
}