*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 15%,
        #d7dbd4 15%,
        #d7dbd4 100%
    );
}

/* Utilities */

.pd-20 {
    padding: 20px;
}

/* Container */

.container {
    display: flex;
    width: 80%;
    min-width: 900px;
    background:#ab6363; /*!debug*/
    height: 90vh;
}

/*  Container | Content */
.container .content {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    background-color: pink; /*!debug*/
}

.content .header-content,
.content .footer-content {
    background-color: blue; /*!debug*/
}

.content .main-content {
    flex-grow: 1;
    background-image: url('../img/mine.jpg');
}

/* Container | Nav bar */

.container .nav-bar{
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    background-color: #ffffff; 
}

.nav-bar .user-id {
    flex-basis: 50px;
    display: flex;
    align-items: center;
    background-color: red; /*!debug*/
}

.nav-bar .notification {
    display: flex;
    align-items: center;
    flex-basis: 50px;
    background-color: brown;
}

/*  Nav bar | user id */

.nav-bar .user-id {
    display: flex;
    justify-content: space-around;
}

.nav-bar .user-id  .avatar {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;

}

.avatar img {
    height: 100%;
}


